.menu-base {
  @apply w-[100vw]
  max-h-[100vh] min-h-[100vh] 
  absolute bottom-0 left-0 
  bg-[rgba(0,0,0,0.9)] 
  z-50 backdrop-blur-xl flex;
  animation: enter 200ms ease-in;
}
@keyframes enter {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
.menu {
  @apply relative flex-1  p-3 px-8;
}
.menu-content {
  @apply bg-[#1513137a] backdrop-blur-xl;
}
.menu-head {
  @apply flex items-start justify-between;
}
